<div id="card-categories">
  <div class="categories">
      <div class="categories-column categories-column-1">
          <a href="https://www.cardpool.com/buy-gift-cards?category=department-stores" class="category category-department-stores category-device-desktop category-size-small">
              <img class="category-image" src="./img/categories/category_department-stores-303.jpg" alt="Department Stores" title="Department Stores">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Department Stores</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=computers-electronics" class="category category-computers-electronics category-device-desktop category-size-medium">
              <img class="category-image" src="./img/categories/category_computers-electronics-303.jpg" alt="Computers &amp; Electronics" title="Computers &amp; Electronics">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Computers &amp; Electronics</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=movies-entertainment" class="category category-movies-entertainment category-device-desktop category-size-small">
              <img class="category-image" src="./img/categories/category_movies-entertainment-303.jpg" alt="Movies &amp; Entertainment" title="Movies &amp; Entertainment">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Movies &amp; Entertainment</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=health-beauty" class="category category-health-beauty category-device-desktop category-size-medium">
              <img class="category-image" src="./img/categories/category_health-beauty-303.jpg" alt="Health &amp; Beauty" title="Health &amp; Beauty">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Health &amp; Beauty</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=department-stores" class="category category-department-stores category-device-mobile category-size-small">
              <img class="category-image" src="./img/categories/category_department-stores-303.jpg" alt="Department Stores" title="Department Stores">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Department Stores</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=restaurants" class="category category-restaurants category-device-mobile category-size-small">
              <img class="category-image" src="./img/categories/category_restaurants-303.jpg" alt="Restaurants" title="Restaurants">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Restaurants</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=baby-kids-toys" class="category category-baby-kids-toys category-device-mobile category-size-medium">
              <img class="category-image" src="./img/categories/category_baby-kids-toys-303.jpg" alt="Baby, Kids &amp; Toys" title="Baby, Kids &amp; Toys">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Baby, Kids &amp; Toys</span>
              </div>
          </a>
      </div>
      <div class="categories-column categories-column-2">
          <a href="https://www.cardpool.com/buy-gift-cards?category=home-garden" class="category category-home-garden category-device-desktop category-size-large">
              <img class="category-image" src="./img/categories/category_home-garden-303.jpg" alt="Home &amp; Garden" title="Home &amp; Garden">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Home &amp; Garden</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=baby-kids-toys" class="category category-baby-kids-toys category-device-desktop category-size-medium">
              <img class="category-image" src="./img/categories/category_baby-kids-toys-303.jpg" alt="Baby, Kids &amp; Toys" title="Baby, Kids &amp; Toys">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Baby, Kids &amp; Toys</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=hotels-travel" class="category category-hotels-travel category-device-desktop category-size-medium">
              <img class="category-image" src="./img/categories/category_hotels-travel-303.jpg" alt="Hotels &amp; Travel" title="Hotels &amp; Travel">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Hotels &amp; Travel</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=home-garden" class="category category-home-garden category-device-mobile category-size-medium">
              <img class="category-image" src="./img/categories/category_home-garden-303.jpg" alt="Home &amp; Garden" title="Home &amp; Garden">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Home &amp; Garden</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=computers-electronics" class="category category-computers-electronics category-device-mobile category-size-small">
              <img class="category-image" src="./img/categories/category_computers-electronics-303.jpg" alt="Computers &amp; Electronics" title="Computers &amp; Electronics">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Computers &amp; Electronics</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=movies-entertainment" class="category category-movies-entertainment category-device-mobile category-size-small">
              <img class="category-image" src="./img/categories/category_movies-entertainment-303.jpg" alt="Movies &amp; Entertainment" title="Movies &amp; Entertainment">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Movies &amp; Entertainment</span>
              </div>
          </a>
      </div>
      <div class="categories-column categories-column-3">
          <a href="https://www.cardpool.com/buy-gift-cards?category=restaurants" class="category category-restaurants category-device-desktop category-size-small">
              <img class="category-image" src="./img/categories/category_restaurants-303.jpg" alt="Restaurants" title="Restaurants">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Restaurants</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=sports-outdoors" class="category category-sports-outdoors category-device-desktop category-size-large">
              <img class="category-image" src="./img/categories/category_sports-outdoors-303.jpg" alt="Sports &amp; Outdoors" title="Sports &amp; Outdoors">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Sports &amp; Outdoors</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=clothing-shoes-jewelry" class="category category-clothing-shoes-jewelry category-device-desktop category-size-small">
              <img class="category-image" src="./img/categories/category_clothing-shoes-jewelry-303.jpg" alt="Clothing, Shoes &amp; Jewelry" title="Clothing, Shoes &amp; Jewelry">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Clothing, Shoes &amp; Jewelry</span>
              </div>
          </a>
          <a href="https://www.cardpool.com/buy-gift-cards?category=pets" class="category category-pets category-device-desktop category-size-small">
              <img class="category-image" src="./img/categories/category_pets-303.jpg" alt="Pets" title="Pets">
              <div class="category-overlay"></div>
              <div aria-hidden="true" class="category-caption">
                  <span>Pets</span>
              </div>
          </a>
      </div>
  </div>
        
</div>
