<div id="loginPage">
  <div class="auth-form">
    <a class="closebtn" style="position: absolute; top:0; right:25px; font-size: 36px; margin-left: 50px" onclick="closeSingIn()">&times;</a>

    

    <form class="form" action="http://localhost:8080/CardPool/j_spring_security_check" method="post" role="form">
        <div>
            <h3 class="auth-h3 ng-binding">Log In</h3>
            <!-- ng-click="$loginController.signUpButtonTapped() -->
            <button type="button" class="header-link right-link ng-binding" ui-sref="signup">New to cardpool?</button>
        </div>
        <div id="error" style="display:none">
            <p>Invalid username or password</p>
        </div>
        <div  class="form-group">
            <label for="username " class="regular small " >Username</label>
            
            <input type="text " id="username " name="j_username" class="form-control"  required="required ">
        </div>

        <div  class="form-group">
          <label for="password"  class="regular small " >Password</label>
          <input type="password" id="password " name="j_password"  required="required " class="form-control">
        </div>
        
        <div  class="form-group">           
          Remember Me 
          <input type="checkbox" name="_spring_security_remember_me">
        </div>
        <div class="button-container ">
            <button  type="submit " class="button button-large button-submit auth-submit-button ">
                <svg xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " width="14 " height="18.188 " viewBox="0 0 14 18.188 " class="modal-img svg " src="/assets/images/signout-o.svg ">
                    <defs>
                        <style>
                        .cls-1 {
                            fill: #636363;
                            fill-rule: evenodd;
                            filter: url(#filter);
                        }
                        </style>
                        <filter id="filter " x="1002 " y="294.906 " width="14 " height="18.188 " filterUnits="userSpaceOnUse ">
                            <feFlood result="flood " flood-color="#ffffff "></feFlood>
                            <feComposite result="composite " operator="in " in2="SourceGraphic "></feComposite>
                            <feBlend result="blend " in2="SourceGraphic "></feBlend>
                        </filter>
                    </defs>
                    <path id="signout-o.svg " class="cls-1 " d="M1014.23,313.1h-10.46a1.777,1.777,0,0,1-1.77-1.773v-7.64a1.777,1.777,0,0,1,1.77-1.772h0.33v-1.987c0-3.2,1.79-5.03,4.9-5.03,2.37,0,4.9,1.322,4.9,5.03v1.987h0.33a1.777,1.777,0,0,1,1.77,1.772v7.64A1.777,1.777,0,0,1,1014.23,313.1ZM1004.1,311h9.8v-6.991h-9.8V311Zm2.1-9.088h5.6v-1.987c0-1.946-.94-2.932-2.8-2.932-1.96,0-2.8.876-2.8,2.932v1.987Zm3.47,7.107h-1.34v-3.029h1.34v3.029Z " transform="translate(-1002 -294.906) "></path>
                </svg>
                <span id="text " class="ng-binding ">Log In</span>
            </button>
        </div>
    </form>
  </div>
</div>

