<h1 class="account-header">Purchases</h1>
<div id="account-content">
    <div id="recent-purchases" class="overview-recent-table">
        <div class="overview-listing-wrap">
            <div class="overview-listing-header">
                <div class="expand"></div>
                <div class="order-date">Date</div>
                <div class="order-number">Order #</div>
                <div class="order-cards">Card(s)</div>
                <div class="order-num-of-cards"># of Cards</div>
                <div class="order-total">Total</div>
                <div class="order-status">Status</div>
            </div>
            <div class="overview-listing-list clearfix view-all">
            </div>
        </div>
        <div class="overview-recent-view-all">
        </div>
    </div>
</div>
