<div>
    <div id="cart-wrap" class="slide ms-transform-origin">
        <div  id="cart-panel">
            <div class="title-container">
                <!-- ngIf: $ctrl.cart.items.length -->
                <h4 class="cart-title" style="font-size:15px; padding-top: 10px">Your Shopping Cart</h4>
                <!-- end ngIf: $ctrl.cart.items.length -->
                <div class="close" aria-label="close shopping cart">
                    <i class="fa fa-close"></i>
                </div>
            </div>

            <div class="cart-body">
                <!-- ngIf: $ctrl.cart.items.length -->
                <div class="cart-content" >
                    <div class="cart-trust">
                        <img class="cart-trust-img" src="img/trust_logos@2x.jpg" alt="TRUSTe Privacy Certification, Norton Secured, Better Business Bureau A+ Accredited Business">
                    </div>

                    <div>
                        <div class="cart-item" ng-repeat="eachCard in shoppingcart.$cart.items">
                            <div class="card-image-container">
                                <img class="card-image" ng-src="{{eachCard._img}}">
                            </div>
                            <div class="brand-name ng-binding">{{eachCard._name}}</div>
                            <!-- ngIf: $ctrl.availabilityStatus() !== 'none' -->
                            <div class="card-info-headers ng-scope">
                                <span class="card-header gray">VALUE</span>
                                <span class="card-header gray">YOU PAY</span>
                            </div>

                            <div class="cart-sku ng-scope" >
                                <span class="card-element more-details-toggle">
                                    <div class="ng-binding ng-scope">+ <span class="more-details-toggle-text ng-binding">More Info</span></div><!-- end ngIf: !$ctrl.shouldShowMoreInfo(sku) -->
                                </span>
                                <span class="card-element number ng-binding">{{eachCard._price | currency}}</span>
                                <span class="card-element number ng-binding">{{eachCard._price * (1-eachCard._discount/100) | currency}}</span>
                                <span tabindex="0" class="card-element remove-item focus-on-click"  aria-label="remove card from cart button" ng-click="shoppingcart.removeItem()">
                                    <i class="fa fa-trash-o"></i>
                                </span>

                                <!-- ng-class="{slide : showRemoveConfirm}" -->
                                <!-- <div class="remove-item-confirm"  aria-hidden="true">
                                    <button class="remove-item-confirm-button small-button ng-binding" ng-click="$ctrl.removeCardFromCart(sku)" aria-label="confirm card remove">
                                        <i class="fa fa-trash-o"></i> Remove?
                                    </button>
                                    <button class="remove-item-cancel-button small-button ng-binding" ng-click="showRemoveConfirm = !showRemoveConfirm;" aria-label=" cancel card remove">
                                        Cancel
                                    </button>
                                </div> -->


                                <div  class="tags" >
                                    <div class="tag ng-binding">{{eachCard._type}}</div>
                                    <div class="tag ng-binding">Use Anywhere</div>
                                </div>
                        </div>
                    </div>
                </div>
                
            </div>
           

            <div class="cart-secured " style="display: block;">
                <div ng-if="shoppingcart.$cart.items.length" class="cart-summery">
                    <div class="summery-element">
                        <div class="title">VALUE</div>
                        <div class="value number ng-binding">{{shoppingcart.getOriginalTotal() | currency}}</div>
                    </div>
                    <div class="summery-element">
                        <div class="title" ng-i18next="cart_summary_savings">SAVINGS</div>
                        <div class="value number ng-binding">{{shoppingcart.savings() | currency}}</div>
                    </div>
                    <div class="summery-element">
                        <div class="title" ng-i18next="cart_summary_total">TOTAL</div>
                        <div class="value number ng-binding">{{shoppingcart.getActualTotal() | currency}}</div>
                    </div>
                </div>
                
                <button ng-if="shoppingcart.$cart.items.length"  id="proceed-button" class="button button-large" ui-sref="checkout"">Proceed to Checkout</button>
                
                <div class="secured-text">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="18.188" viewBox="0 0 14 18.188" aria-hidden="true" class="cart-secured-img svg" src="/assets/images/secured-o.svg">
                        <defs>
                            <filter id="filter" x="1002" y="294.906" width="14" height="18.188" filterUnits="userSpaceOnUse">
                                <feFlood result="flood" flood-color="#999"></feFlood>
                                <feComposite result="composite" operator="in" in2="SourceGraphic"></feComposite>
                                <feBlend result="blend" in2="SourceGraphic"></feBlend>
                            </filter>
                        </defs>
                        <path id="secured-o.svg" class="secured-lock-svg" d="M1014.23,313.1h-10.46a1.777,1.777,0,0,1-1.77-1.773v-7.64a1.777,1.777,0,0,1,1.77-1.772h0.33v-1.987c0-3.2,1.79-5.03,4.9-5.03,2.37,0,4.9,1.322,4.9,5.03v1.987h0.33a1.777,1.777,0,0,1,1.77,1.772v7.64A1.777,1.777,0,0,1,1014.23,313.1ZM1004.1,311h9.8v-6.991h-9.8V311Zm2.1-9.088h5.6v-1.987c0-1.946-.94-2.932-2.8-2.932-1.96,0-2.8.876-2.8,2.932v1.987Zm3.47,7.107h-1.34v-3.029h1.34v3.029Z" transform="translate(-1002 -294.906)"></path>
                    </svg>
                    <span class="cart-secured-text">Secured Checkout</span>
                </div>
            </div>
        </div>
    </div>

<!--     <div id="cart-close-click-target" ng-click="closeCartSlider()"></div> -->
</div>
